## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
.document
doc

## PROJECT::SPECIFIC

test/rake/db/migrate/*.rb
test/rake/db/schema.rb
